filepath= /discover/nobackup/rerrico/ODSstats/G514osse/Impact0
expname=   G514osse
ntimes=    31
levels=    .true.  
amsua       aqua        AMSUA 
amsua       n15         AMSUA 
amsua       n18         AMSUA 
amsua       n19         AMSUA 
amsua       metop-a     AMSUA 
amsua       metop-b     AMSUA 
mhs         n18         MHS
mhs         metop-a     MHS
mhs         metop-b     MHS
atms        npp         ATMS
ssmis       f17         SSMIS
hirs4       metop-a     HIRS4
airs        aqua        AIRS
iasi        metop-a     IASI
iasi        metop-b     IASI
cris        npp         CRIS
120         ps          psland
181         ps          psland
187         ps          psland
180         ps          psocean
182         ps          psocean
180         T           surfaceT
181         T           surfaceT
187         T           surfaceT
188         T           surfaceT
191         T           surfaceT
180         q           surfaceQ
181         q           surfaceQ
187         q           surfaceQ
188         q           surfaceQ
191         q           surfaceQ
280         w           surfaceW
281         w           surfaceW
287         w           surfaceW
288         w           surfaceW
242         w           GeoSatWind
243         w           GeoSatWind
245         w           GeoSatWind
246         w           GeoSatWind
250         w           GeoSatWind
252         w           GeoSatWind
253         w           GeoSatWind
254         w           GeoSatWind
257         w           GeoSatWind
258         w           GeoSatWind
259         w           GeoSatWind
130         T           AircraftT
131         T           AircraftT
133         T           AircraftT
135         T           AircraftT
230         w           AircraftW
231         w           AircraftW
233         w           AircraftW
235         w           AircraftW
283         w           ScatW
285         w           ScatW
289         w           ScatW
290         w           ScatW
120         T           sondeT
132         T           sondeT
120         q           sondeQ
132         q           sondeQ
220         w           sondeW
221         w           sondeW
232         w           sondeW
300         gps         GPSRO
EOF         EOF         EOF
